{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/just_logo_without_background.png' %}">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/contact_us_page.css' %}">
</head>
<body>

    {% include 'base/nav_bar.html' with logo_color='light' emergency_events=emergency_events %}

    <video src="{{ video_url }}" muted autoplay loop type="video/mp4"></video>

    <div class='main-page-with-maps'>
        <div class='card'>
            <section class='head-contact'>
                {% for message in messages %}
                    <p class="successfully-sent-email-message">{{ message }}</p>
                {% endfor %}

                <h2>Contact Us</h2>
                <p>Email us with any questions or inquiries. We would be happy to answer your questions and we'll get in touch as soon as we can!</p>
            </section>

            <section class='form-and-info'>
                <div class='left'>
                    <form method="POST">
                        {% csrf_token %}

                        <div class='row'>
                            <div class='field'>
                                {{ form.full_name.label }}
                                {{ form.full_name }}
                                {{ form.full_name.errors }}
                            </div>

                            <div class='field'>
                                {{ form.email.label }}
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>

                        <div class='row'>
                            <div class='field subject-field'>
                                {{ form.subject.label }}
                                {{ form.subject }}
                                {{ form.subject.errors }}
                            </div>
                        </div>

                        <div class='message-row'>
                            {{ form.message.label }}
                            {{ form.message }}
                            {{ form.message.errors }}
                        </div>

                        <div class='buttons'>
                            <button class='send-button'>Send</button>
                        </div>
                    </form>
                </div>

                <div class='right'>
                    <h3>Contact Information</h3>
                    <p>Reach out to us for further communication.</p>

                    <section class='info-container'>
                        <div class='one-section'>
                            <div class='img-container'>
                                <img src="{% static 'images/phone_icon.png' %}" alt="phone" />
                            </div>

                            <p>+359 899 899-899</p>
                        </div>

                        <div class='one-section'>
                            <div class='img-container'>
                                <img src="{% static 'images/email_icon.png' %}" alt="email" />
                            </div>

                            <p>rayapetkova12321@gmail.com</p>
                        </div>

                        <div class='one-section'>
                            <div class='img-container'>
                                <img src="{% static 'images/map_icon.png' %}" alt="map" />
                            </div>

                            <p>6300 Haskovo, Bulgaria</p>
                        </div>
                    </section>

                    <section class='follow-us-on'>
                        <h3>Follow Us:</h3>

                        <div class='socials'>
                            <a href="https://github.com/rayapetkova" target="_blank"><img src="{% static 'images/github.png' %}" alt="github" /></a>
                            <a href="https://www.linkedin.com/in/raya-petkova-77418a2a0" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="linkedin" /></a>
                            <a href="https://www.facebook.com/raya.petkova.54/" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="facebook" /></a>
                        </div>
                    </section>
                </div>
            </section>

        </div>

        <a href="#see-more" class="see-more-btn">See more</a>
    </div>

    <div class="location-centering">
        <div class='location-container' id="see-more">
            <h2>Where are we located?</h2>
            <p>g.k. Druzhba I, bul. "G.S.Rakovski" 13А</p>

            <iframe src="https://www.google.com/maps?q=Haskovo, g.k. Druzhba I, bul. G.S.Rakovski 13А&output=embed&maptype=satellite"></iframe>
        </div>
    </div>

    {% include 'base/footer.html' %}

</body>

<script>
    const headerElement = document.getElementsByTagName('header')[0]

    document.addEventListener('scroll', () => {
        if (window.scrollY > 10) {
            headerElement.style.backgroundColor = 'rgba(67, 79, 98, 0.76)'
        } else {
            headerElement.style.backgroundColor = 'transparent'
        }
    })




    const messagesDisplayed = document.getElementsByClassName('successfully-sent-email-message')

    for (let messageElement of messagesDisplayed) {
        if (messageElement.textContent.includes('Successfully signed in as')) {
            messageElement.remove()
        }
    }
</script>

</html>