header {
    display: flex;
    padding: 0.1% 10%;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: solid 1px rgb(190, 190, 190);
    transition: background-color 0.5s ease-in-out;
}

header .img-logo {
    width: 10%;
    display: flex;
    height: 100%;
}

header .img-logo img {
    width: 100%
}

.white-placeholder::placeholder {
    color: #ffffff;
}

header ul.last-links {
    display: flex;
    padding: 0;
    margin-left: auto;
    width: 18%;
    justify-content: space-between;
    align-items: center;
}

header ul.sign-in-ul {
    width: 27%;
}

header ul.logout-ul {
    width: 33%;
}

header ul.last-links li {
    list-style: none;
}

header ul.last-links li.all-events a,
header ul.sign-in-ul li a,
header ul.last-links li.contact-us a,
header ul.last-links li.about-us a {
    transition: color 0.2s ease-in-out;
    color: #203069;
}

header ul.last-links li.all-events a:hover,
header ul.sign-in-ul li.sign-in-li a:hover,
header ul.last-links li.contact-us a:hover,
header ul.last-links li.about-us a:hover {
    color: rgba(84, 165, 255, 0.89)!important;
}

header ul.last-links li.profile-img-container {
    width: 2.2em;
    display: flex;
    align-items: center;
}

header ul.last-links a.dropbtn {
    display: flex;
    align-items: center;
    width: 2em;
    height: 2em;
}

header ul.last-links a.dropbtn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

header ul.last-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 600;
}

header ul.last-links li .dark-login-a {
    color: #203069;
}

header ul.sign-in-ul li:nth-child(5) a, header ul.last-links .logout-btn a {
    background-color: #08376b;
    padding: 0.4em 0.7em;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

header ul.sign-in-ul li:nth-child(5) a:hover,
header ul.last-links .logout-btn a:hover {
    cursor: pointer;
    background-color: rgba(13, 74, 141, 0.89);
}




.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 5% 8%;
    border-bottom: solid 1px #c4c4c4;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
}

.dropdown-content a:first-child, .dropdown-content a:last-child {
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    cursor: pointer;
}





.emergency-li {
    display: flex;
    align-items: center;
}

.emergency-li a {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0.5em;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.emergency-li .emergency-button-green {
    background-color: #008300;
    box-shadow: 0 0 20px #00cc00;
}

@keyframes glowing {
    0% {
        background-color: #850000;
        box-shadow: 0 0 5px #850000;
    }
    50% {
        background-color: #ef0000;
        box-shadow: 0 0 30px #ef0000;
    }
    100% {
        background-color: #850000;
        box-shadow: 0 0 5px #850000;
    }
}

.emergency-li .emergency-button {
    animation: glowing 1300ms infinite;
}