{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_users/delete_profile.css' %}">
    <title>Profile Delete Page</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/just_logo_without_background.png' %}">
</head>
<body>

    {% include 'base/nav_bar.html' with logo_color='dark' emergency_events=emergency_events %}

    <main>

        <video src="{{ video_url }}" muted autoplay loop type="video/mp4"></video>

        <div class="content-edit">
            <section class="info-section">
                <h5>Are you sure you want to delete your account?</h5>

                <div class="main-info">
                    <div class="left">
                        <div class="img-container">
                            <img src="{{ request.user.profile.profile_image.url }}" alt="user-profile-picture">
                        </div>

                        <div class="user-info">
                            <p class="name">{{ request.user.profile.full_name }}</p>
                        </div>
                    </div>

                    <div class="right">
                        <h3>Account Settings</h3>

                        <form action="{% url 'delete-profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <section class="all-fields">
                                {% for field in form %}
                                    <div class="field">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                            </section>

                            <button class="delete-button" id="updateBtn">Yes, delete</button>

                        </form>
                    </div>
                </div>
            </section>
        </div>


    </main>

    {% include 'base/footer.html' %}

</body>

    <script src="{% static 'js/nav_bar.js' %}"
        lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
        darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
    ></script>

    <script>

        const updateFormBtn = document.getElementById('updateBtn')
        const form = document.getElementsByTagName('form')[0]
        updateFormBtn.addEventListener('click', () => {
            updateFormBtn.textContent = 'Updating...'
            updateFormBtn.disabled = true
            updateFormBtn.style.backgroundColor = '#0f4e94'

            form.submit()
        })

        const headerElement = document.getElementsByTagName('header')[0]
        const searchInput = document.getElementsByTagName('input')[0]

    })
    </script>
</html>