{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app_users/edit_profile.css' %}">
    <title>Profile Details Page</title>
</head>
<body>

    {% include 'base/nav_bar.html' %}

    <section class="info-section">
        <div class="left">
            <div class="img-container">
                <img src="{% static 'images/person_img.jpg' %}" alt="user-profile-picture">
            </div>

            <div class="user-info">
                <p class="name">Tim Cook</p>
            </div>
        </div>

        <div class="right">
            <h3>Account Settings</h3>

            <form action="{% url 'edit-profile' pk=request.user.profile.id %}" method="POST">
                <div class="row">
                    <div class="field">
                        {{ form.first_name.label }}
                        {{ form.first_name }}
                    </div>

{#                    <div class="field">#}
{#                        <label for="first_name">First Name</label>#}
{#                        <input type="text" id="first_name" name="first_name">#}
{#                    </div>#}

                    <div class="field">
                        {{ form.last_name.label }}
                        {{ form.last_name }}
                    </div>
{#                    <div class="field">#}
{#                        <label for="last_name">Last Name</label>#}
{#                        <input type="text" id="last_name" name="last_name">#}
{#                    </div>#}
                </div>

                <div class="row">
                    <div class="field">
                        {{ form.phone_number.label }}
                        {{ form.phone_number }}
                    </div>
{#                    <div class="field">#}
{#                        <label for="phone_number">Phone Number</label>#}
{#                        <input type="text" id="phone_number" name="phone_number">#}
{#                    </div>#}

{#                    TODO: add email changing#}
{#                    <div class="field">#}
{#                        <label for="email">Email</label>#}
{#                        <input type="text" id="email" name="email">#}
{#                    </div>#}
                </div>

                <div class="bio-row">
                    {{ form.bio.label }}
                    {{ form.bio }}
                </div>
{#                <div class="bio-row">#}
{#                    <h3>Bio</h3>#}
{#                    <textarea rows="10"></textarea>#}
{#                </div>#}

                <button class="update-button">Update</button>

            </form>
        </div>
    </section>

    {% include 'base/footer.html' %}

</body>
</html>