{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_users/edit_profile.css' %}">
    <title>Profile Details Page</title>
</head>
<body>

    {% include 'base/nav_bar.html' %}

    <section class="info-section">
        <div class="left">
            <div class="img-container">
                <img src="{% static 'images/person_img.jpg' %}" alt="user-profile-picture">
            </div>

            <div class="user-info">
                <p class="name">{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</p>
            </div>
        </div>

        <div class="right">
            <h3>Account Settings</h3>

            <form action="{% url 'edit-profile' %}" method="POST">
                {% csrf_token %}

                <section class="all-fields">
                    {% for field in form %}
                        <div class="field">
                            {{ field.label }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </section>


                <button class="update-button">Update</button>

            </form>
        </div>
    </section>

    {% include 'base/footer.html' %}

</body>
</html>