{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/just_logo_without_background.png' %}">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_users/edit_profile.css' %}">
    <title>Profile Details Page</title>
</head>
<body>

    {% include 'base/nav_bar.html' with logo_color='dark' emergency_events=emergency_events %}

    <main>

        <video src="{% static 'images/volunteer_act_video.mp4' %}" muted autoplay loop></video>

        <div class="content-edit">
            <section class="info-section">
                <div class="left">
                    <div class="img-container">
                        <img src="{{ request.user.profile.profile_image.url }}" alt="user-profile-picture">
                    </div>

                    <div class="user-info">
                        <p class="name">{{ request.user.profile.full_name }}</p>
                    </div>
                </div>

                <div class="right">
                    <h3>Account Settings</h3>

                    <form action="{% url 'profile-details-update' pk=request.user.profile.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <section class="all-fields">
                            {% for field in form %}
                                <div class="field">
                                    {{ field.label }}
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}
                        </section>

                        <div class="update-delete-buttons-cont">
                            <button type="submit" class="update-button" id="updateBtn">Update</button>
                            <a href="{% url 'delete-profile' %}" class="delete-button">Delete</a>
                        </div>

                    </form>
                </div>
            </section>
        </div>


    </main>

    {% include 'base/footer.html' %}

</body>

    <script src="{% static 'js/nav_bar.js' %}"
        lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
        darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
    ></script>

    <script>

        const allFieldsElements = document.getElementsByClassName('field')
        const fieldLastElement = allFieldsElements[allFieldsElements.length - 1]

        const allElementsInLastFieldCount = fieldLastElement.childElementCount
        const fieldLastInputElement = fieldLastElement.children[allElementsInLastFieldCount - 1]

        fieldLastElement.textContent = 'Change image'
        fieldLastElement.appendChild(fieldLastInputElement)

        const updateFormBtn = document.getElementById('updateBtn')
        const form = document.getElementsByTagName('form')[0]
        updateFormBtn.addEventListener('click', () => {
            updateFormBtn.textContent = 'Updating...'
            updateFormBtn.disabled = true
            updateFormBtn.style.backgroundColor = '#0f4e94'

            form.submit()
        })

    </script>
</html>