{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_users/profile_page.css' %}">
    <title>Profile Details Page</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/just_logo_without_background.png' %}">
</head>
<body>

    {% include 'base/nav_bar.html' with logo_color='dark' %}

    <main>

        <video src="{% static 'images/volunteer_act_video.mp4' %}" muted autoplay loop></video>

        <div class="content-edit">
            <section class="info-section">
                <div class="left">
                    <div class="img-container">
                        <img src="{{ object.profile_image.url }}" alt="user-profile-picture">
                    </div>

                    <div class="user-info">
                        <p class="name">{{ object.full_name }}</p>
                    </div>
                </div>

                <div class="right">
                    <h3>{{ object.full_name }}'s Account</h3>

                    <section class="profile-info">

                        <section class="all-fields">
                            <div class="field">
                                <label>First Name</label>
                                {% if object.first_name %}
                                    <p>{{ object.first_name }}</p>
                                {% else %}
                                    <p>No first name yet</p>
                                {% endif %}
                            </div>

                            <div class="field">
                                <label>Last Name</label>
                                {% if object.last_name %}
                                    <p>{{ object.last_name }}</p>
                                {% else %}
                                    <p>No last name yet</p>
                                {% endif %}
                            </div>

                            <div class="field">
                                <label>Phone Number</label>
                                {% if object.phone_number %}
                                    <p>{{ object.phone_number }}</p>
                                {% else %}
                                    <p>No phone number yet</p>
                                {% endif %}
                            </div>

                            <div class="field">
                                <label>Email</label>
                                {% if object.user.email %}
                                    <p>{{ object.user.email }}</p>
                                {% else %}
                                    <p>No email yet</p>
                                {% endif %}
                            </div>

                            <div class="field">
                                <label>Bio</label>
                                {% if object.bio %}
                                    <textarea rows="10">{{ object.bio }}</textarea>
                                {% else %}
                                    <p>No bio yet</p>
                                {% endif %}
                            </div>
                        </section>

                    </section>
                </div>
            </section>
        </div>


    </main>

    {% include 'base/footer.html' %}

</body>

    <script src="{% static 'js/nav_bar.js' %}"
        lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
        darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
    ></script>

</html>