{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/just_logo_without_background.png' %}">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_users/register_page.css' %}">
</head>
<body>

    {% include 'base/nav_bar.html' with logo_color='light' emergency_events=emergency_events %}

    <video src="{% static 'images/volunteer_act_video.mp4' %}" muted autoplay loop></video>

    <div class="main-content">
        <div class="login-box">
            <form method="POST" action="{% url 'register-user' %}">
                <h1>Sign Up</h1>

                {% csrf_token %}

                {% for field in form %}
                    <p>
                        {{ field.label }}
                        {{ field }}

                        {{ field.errors }}
                    </p>
                {% endfor %}

                <div class="login-container">
                    <p class="log-in-p">Already have an account?</p>
                    <a href="{% url "login-user" %}">Log In</a>
                </div>

                <div class="sign-in-buttons-cont">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>