{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/home_page.css' %}">
</head>
<body>

    {% include 'base/nav_bar.html' with logo_color='light' %}

    {% block main_content %}
    {% endblock %}

    {% include 'base/footer.html' %}

</body>
</html>