{% load static %}
<header>
    <a href="{% url 'home-page' %}" class="img-logo">
        {% if logo_color == 'light' %}
            <img src="{% static "images/volunteer_act_logo_light.png" %}" alt="logo-img">
        {% else %}
            <img src="{% static "images/volunteer_act_logo_dark.png" %}" alt="logo-img">
        {% endif %}
    </a>

    {% if not request.user.is_authenticated %}
        <ul class="last-links sign-in-ul">
            <li class="sign-in-li"><a href="{% url 'login-user' %}" {% if dark_login_color == "dark" %}class="dark-login-a"{% endif %}>Log In</a></li>
            <li><a href="{% url 'register-user' %}">Sign Up</a></li>
        </ul>
    {% else %}
        <ul class="last-links logout-ul">
            <li class="all-events"><a href="{% url 'all-events-page' %}">All Events</a></li>
            <li class="favourite-events"><a href="{% url 'user-favourite-events-page' %}">Favourites</a></li>
            <li class="tickets-events"><a href="{% url 'all-user-tickets-events' %}">Tickets</a></li>
            <li class="my-events"><a href="{% url 'my-events-page' %}">My events</a></li>
            <li class="profile-img-container"><a href="{% url 'profile-details-update' pk=request.user.profile.id %}"><img src="{{ request.user.profile.profile_image.url }}" alt="profile-icon"></a></li>
            <li class="logout-btn"><a href="{% url 'logout-user' %}">Log Out</a></li>
        </ul>
    {% endif %}
</header>