{% load static %}
<header>
    <a href="{% url 'home-page' %}" class="img-logo">
        <img src="{% static "images/volunteer_act_logo.png" %}" alt="logo-img">
    </a>

    <section class="search-bar-section">
        <input class="search-bar" type="search" placeholder="Search...">
    </section>

    {% if not request.user.is_authenticated %}
        <ul class="last-links">
            <li><a href="{% url 'login-user' %}">Log In</a></li>
            <li><a href="{% url 'register-user' %}">Sign Up</a></li>
        </ul>
    {% else %}
        <ul class="last-links logout-ul">
            <li class="profile-img-container"><a href="#"><img src="{% static 'images/profile_page.png' %}"></a></li>
            <li class="logout-btn"><a href="{% url 'logout-user' %}">Log Out</a></li>
        </ul>
    {% endif %}
</header>