{% load static %}
<header>
    <a href="{% url 'home-page' %}" class="img-logo">
        {% if logo_color == 'light' %}
            <img src="{% static "images/volunteer_act_logo_light.png" %}" alt="logo-img">
        {% else %}
            <img src="{% static "images/volunteer_act_logo_dark.png" %}" alt="logo-img">
        {% endif %}
    </a>

    <section class="search-bar-section">
        <input class="search-bar" type="search" placeholder="Search...">
    </section>

    {% if not request.user.is_authenticated %}
        <ul class="last-links">
            <li><a href="{% url 'login-user' %}">Log In</a></li>
            <li><a href="{% url 'register-user' %}">Sign Up</a></li>
        </ul>
    {% else %}
        <ul class="last-links logout-ul">
            {% if request.user.profile.profile_image %}
                <li class="profile-img-container"><a href="{% url 'profile-details-update' pk=request.user.profile.id %}"><img src="{{ request.user.profile.profile_image.url }}" alt="profile-icon"></a></li>
            {% else %}
                <li class="profile-img-container"><a href="{% url 'profile-details-update' pk=request.user.profile.id %}"><img src="{% static 'images/profile_page.png' %}" alt="profile-icon"></a></li>
            {% endif %}
                <li class="logout-btn"><a href="{% url 'logout-user' %}">Log Out</a></li>
        </ul>
    {% endif %}
</header>