{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/just_logo_without_background.png' %}">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/tickets_events/user_tickets_events.css' %}">
</head>
<body>
    {% include 'base/nav_bar.html' %}

    <section class="upper-section">
        <h2>Events you are attending</h2>

        <div class="more-info">
            <p>Keep track of all the events you're attending in one convenient place. Whether online or in person, easily view upcoming experiences and stay connected with the organizers and communities you're excited to engage with. Never miss a moment of what matters most to you!</p>
        </div>
    </section>


    <main>

        <section class="search-events-bar-section">
            <input type="text" placeholder="Search events by title..." class="search-events-input">
        </section>

        <div class="right">
            <div class="all-events">
                {% for event in user_tickets_events %}
                    <a href="{% url 'event-page' categoryId=event.category.id pk=event.id %}" class="event-container {% if event.already_passed %}passed-event-container{% endif %}">
                        <div class="date-and-delete">
                            <p>{{ event.time }}</p>
                            {% if event.host != request.user %}
                                <button class="cancel-attendance-btn {{ event.id }}">Cancel attendance</button>
                            {% endif %}
                        </div>

                        <div class="title-and-img">
                            <div class="title-container">
                                <h6>{{ event.title }}</h6>
                                <div class="location">
                                    <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                    <p>{{ event.exact_location }}</p>
                                </div>

                                {% if event.host.id == request.user.id %}
                                    <div class="your-event-container">
                                        <p>Your event</p>
                                        <img src="{% static 'images/your_event_icon.png' %}" alt="your-event-icon" >
                                    </div>
                                {% endif %}

                                {% if event.already_passed %}
                                    <div class="passed-event-message-cont">
                                        <p>Already passed event</p>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="container-event-img">
                                <img src="{{ event.poster_image.url }}" alt="category-img">
                            </div>
                        </div>

                        <p class="details">{{ event.details }}</p>
                    </a>
                {% empty %}
                    <h3>No events yet</h3>
                    <a href="{% url 'all-events-page' %}" class="explore-events-btn">Explore events</a>
                {% endfor %}
            </div>
        </div>

    </main>

    {% include 'base/footer.html' %}

</body>

    <script src="{% static 'js/nav_bar.js' %}"
        lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
        darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
    ></script>

    <script>

        const searchEventsInput = document.getElementsByClassName('search-events-input')[0]

        searchEventsInput.addEventListener('input', () => {
            const eventsUrl = `{% url 'list-all-user-tickets-api' %}?searchedTitle=${searchEventsInput.value}`
            const allEventsElement = document.getElementsByClassName('all-events')[0]

            const response = fetch(eventsUrl)
                .then((response) => response.json())
                .then((resultTickets) => {

                    allEventsElement.innerHTML = ''

                    if (resultTickets.length == 0) {
                        allEventsElement.innerHTML = `
                            <h3>No events matched</h3>
                        `
                    }

                    for (let event of resultTickets) {
                        const aEventElement = document.createElement('a')
                        aEventElement.href = `{% url 'event-page' categoryId='00' pk='000' %}`.replace('00', event.category).replace('000', event.id)
                        aEventElement.className = `event-container`
                        if (event.already_passed) {
                            aEventElement.classList.add('passed-event-container')
                        }
                        const requestUserId = '{{ request.user.id }}'

                        if (requestUserId == `${event.host}`) {

                            if (event.already_passed) {
                                aEventElement.innerHTML = `
                                    <div class="date-and-delete">
                                        <p>${event.event_time_formatted}</p>
                                    </div>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>${event.title}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>${event.exact_location}</p>
                                            </div>

                                            <div class="your-event-container">
                                                <p>Your event</p>
                                                <img src="{% static 'images/your_event_icon.png' %}" alt="your-event-icon" >
                                            </div>

                                            <div class="passed-event-message-cont">
                                                <p>Already passed event</p>
                                            </div>
                                        </div>

                                        <div class="container-event-img">
                                            <img src="${event.poster_image_full_url}" alt="category-img">
                                        </div>
                                    </div>

                                    <p class="details">${event.details}</p>
                                `
                            } else {
                                aEventElement.innerHTML = `
                                    <div class="date-and-delete">
                                        <p>${event.event_time_formatted}</p>
                                    </div>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>${event.title}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>${event.exact_location}</p>
                                            </div>

                                            <div class="your-event-container">
                                                <p>Your event</p>
                                                <img src="{% static 'images/your_event_icon.png' %}" alt="your-event-icon" >
                                            </div>
                                        </div>

                                        <div class="container-event-img">
                                            <img src="${event.poster_image_full_url}" alt="category-img">
                                        </div>
                                    </div>

                                    <p class="details">${event.details}</p>
                                `
                            }

                        } else {

                            if (event.already_passed) {
                                aEventElement.innerHTML = `
                                    <div class="date-and-delete">
                                        <p>${event.event_time_formatted}</p>
                                        <button class="cancel-attendance-btn {{ event.id }}">Cancel attendance</button>
                                    </div>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>${event.title}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>${event.exact_location}</p>
                                            </div>

                                            <div class="passed-event-message-cont">
                                                <p>Already passed event</p>
                                            </div>
                                        </div>

                                        <div class="container-event-img">
                                            <img src="${event.poster_image_full_url}" alt="category-img">
                                        </div>
                                    </div>

                                    <p class="details">${event.details}</p>
                                `
                            } else {
                                aEventElement.innerHTML = `
                                    <div class="date-and-delete">
                                        <p>${event.event_time_formatted}</p>
                                        <button class="cancel-attendance-btn {{ event.id }}">Cancel attendance</button>
                                    </div>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>${event.title}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>${event.exact_location}</p>
                                            </div>
                                        </div>

                                        <div class="container-event-img">
                                            <img src="${event.poster_image_full_url}" alt="category-img">
                                        </div>
                                    </div>

                                    <p class="details">${event.details}</p>
                                `
                            }
                        }


                        allEventsElement.appendChild(aEventElement)
                    }

                })
        })




        const cancelAttendanceBtns = document.getElementsByClassName('cancel-attendance-btn')
        const currentLoggedInUserId = `{{ request.user.id }}`
        const allEventsContainer = document.getElementsByClassName('all-events')[0]

        for (let cancelBtn of cancelAttendanceBtns) {
            const eventUpdateURL = `{% url 'update-event-api' pk='0' %}`.replace('0', cancelBtn.classList[1])
            const eventContainer = cancelBtn.parentElement.parentElement

            cancelBtn.addEventListener('click', () => {
                eventContainer.href = '#cancel-attendance'
                eventContainer.remove()
                let attendees = []

                const response = fetch(eventUpdateURL)
                    .then((response) => response.json())
                    .then((resultEvent) => {

                        attendees = resultEvent.attendees.filter(attendee => `${attendee}` !== currentLoggedInUserId)

                        const updateResponse = fetch(eventUpdateURL, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': `{{ csrf_token }}`
                            },
                            body: JSON.stringify({
                                ...resultEvent,
                                attendees
                            })
                        }).then((response) => response.json())
                            .then((result) => {
                                const eventContainers = document.getElementsByClassName('event-container')

                                if (eventContainers.length === 0) {
                                    allEventsContainer.innerHTML = `
                                        <h3>No events yet</h3>
                                        <a href="{% url 'all-events-page' %}" class="explore-events-btn">Explore events</a>
                                    `
                                }
                            })
                    })
            })
        }

    </script>

</html>