@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    z-index: 5;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header ul.last-links li a {
    color: #203069;
}





.category-info {
    display: flex;
    justify-content: space-between;
    margin: 4% 15%;
}

.category-info .left {
    width: 48%;
}

.category-info .left img {
    width: 100%;
    border-radius: 15px;
}

.category-info .right {
    width: 48%;
}

.category-info .right h2 {
    font-weight: 800;
    font-size: 2em;
    margin: 0
}

.category-info .right > p {
    color: #474747;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 1.7em;
}

.category-info .right .more-info {
    display: flex;
    flex-direction: column;
}

.category-info .right .more-info .one {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.category-info .right .more-info .one img {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.7em;
}

.category-info .right .more-info .one p {
    margin: 0;
    align-self: flex-end;
}

.category-info .add-event-btn {
    background-color: #08376b;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    padding: 0.7em 1em;
    border: none;
    border-radius: 10px;
    opacity: 0.9;
    transition: 0.4s;
    text-decoration: none;
}

.category-info .add-event-btn:hover {
    cursor: pointer;
    background-color: #08366bce;
    opacity: 1;
}






.add-event-container {
    position: fixed;
    z-index: 100;
    width: 50%;
    top: 2%;
    margin: auto;
}

.not-displaying {
    display: none;
}



form {
    width: 90%;
    background-color: rgba(79, 79, 91, 0.96);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(214, 213, 213);
    border-radius: 4px;
    padding: 2% 8%;
}

form h1 {
    color: #ffffff;
    font-size: 2em;
    margin: 0;
    margin-bottom: 0.3em;
}

form > p {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 1em;
    color: #ffffff;
    width: 100%;
}

form p input, form p textarea {
    padding: 0.6em 0.8em;
    border: solid 1px rgb(156, 156, 156);
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    font-family: inherit;
}

form p input[type='file']::file-selector-button {
    border: none;
    border-radius: 3px;
    padding: 0.4em 0.9em;
    background-color: rgba(196, 212, 255, 0.87);
}

form p input[type='file']:hover {
    cursor: pointer;
    background-color: rgba(173, 173, 173, 0.18);
}

form p input[type='file']::file-selector-button:hover {
    cursor: pointer;
    background-color: rgba(196, 212, 255, 0.68);
}

form .login-container {
    display: flex;
    align-items: flex-end;
}

form .log-in-p {
    margin: 0;
    margin-top: 1.3em;
    color: #ffffff;
}

form .buttons-container {
    display: flex;
    align-self: start;
    width: 40%;
    justify-content: space-between;
    gap: 1em;
}

form .buttons-container button {
    width: 50%;
    border-radius: 7px;
    padding: 0.6em 0;
    font-size: 1.3em;
    border: none;
    color: rgb(29, 20, 103);
    background-color: rgba(196, 212, 255, 0.87);
    font-weight: 600;
    margin-top: 1em;
}

form button:hover {
    cursor: pointer;
    background-color: rgba(196, 212, 255, 0.68);
}

form .buttons-container button.cancel-btn {
    background-color: rgba(255, 255, 255, 0.3);
    color: #f1f1f1;
}

form .buttons-container button.cancel-btn:hover {
    background-color: rgba(255, 255, 255, 0.44);
}

form ul.errorlist {
    margin: 0;
    padding: 0;
    width: 60%;
    margin-top: 0.3em;
    align-self: start;
}

form ul.errorlist li {
    list-style: none;
    color: #e54343;
    margin-bottom: -1.3em;
    padding: 0;
    font-size: 0.85em;
}






.navigate-category {
    margin-top: 3em;
    padding: 2em 0;
    border-top: solid 1px #dadada;
    border-bottom: solid 1px #dadada;
    margin: 2% 15%;
    margin-bottom: 0;
}

.navigate-category a {
    text-decoration: none;
    color: #5f5f5f;
    margin-right: 1.7em;
}

.navigate-category a:hover {
    text-decoration: underline;
}





.info-section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 249, 249);
    padding: 2% 15%;
}

.info-section .left {
    width: 55%;
    overflow: hidden;
}

.info-section .left h4 {
    margin: 0;
    font-size: 1.3em;
}

.info-section .left p {
    font-size: 1em;
    line-height: 1.4em;
}

.info-section .left .text-info {
    height: 10em;
    overflow: hidden;
}

.info-section .left > p {
    color: #35c0ed;
    display: flex;
    align-items: center;
    margin: 0;
    width: 15%;
}

.info-section .left > p:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.info-section .left .text-info.fading-at-bottom::after {
    content: "";
    position: absolute;
    bottom: 4em;
    height: 15%;
    width: 40%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(249 249 249) 80%);
    pointer-events: none;
}

.info-section .left > p img {
    width: 10%;
    height: 2%;
    margin-left: 0.3em;
}






.left .events-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.left .events-title-container a {
    color: #2e5c91;
    margin: 0;
}

.left .upcoming-events, .left .past-events {
    margin-top: 4em;
}

.event-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 1.5em;
    position: relative;
    height: 20em;
    text-decoration: none;
    color: #000000;
    max-width: 50em;
}

.event-container > p:nth-child(1) {
    color: #35c0ed;
    font-weight: 700;
    margin: 0;
    font-size: 0.85em;
}

.title-and-img {
    display: flex;
    justify-content: space-between;
}

.event-container .title-and-img .title-container {
    width: 60%;
}

.event-container .title-and-img h6 {
    font-size: 1.3em;
    margin: 0;
    margin-top: 0.3em;
}

.title-and-img .container-event-img {
    width: 38%;
    height: 7em;
}

.title-and-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.event-container .location {
    display: flex;
    margin-top: 0.3em;
    align-items: center;
}

.event-container .location img {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
}

.event-container .location p {
    margin: 0;
}

.event-container .details {
    overflow: hidden;
    max-width: 100%;
}

.event-container .details:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255 255 255) 80%);
}

.past-events p,
.past-events h6,
.past-events .all-events p {
    color: #707070;
}

.no-events {
    text-align: center;
}







.info-section .right {
    width: 35%;
}

.info-section .right .title-and-see-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-section .right .title-and-see-all h4 {
    font-size: 1.3em;
    margin: 0;
}

.info-section .right .title-and-see-all a {
    color: #2e5c91;
}

.info-section .right .members {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    margin-top: 1em;
}

.info-section .right .members img {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 50%;
}
