@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header ul.last-links li a {
    color: #203069;
}




.upper-section {
    padding: 0 15%;
    padding-bottom: 1.5%;
    display: flex;
    flex-direction: column;
    border-bottom: solid 0.15em rgb(209, 209, 209);
}

.upper-section h2 {
    font-size: 2em;
    margin-bottom: 0;
}

input {
    margin: 1em 0;
    border: solid 1px rgb(160, 159, 161);
    border-radius: 3px;
    padding: 1em;
    color: rgb(107, 107, 107);
    font-size: 1.1em;
    background-color: rgba(240, 248, 255, 0.849);
}

.upper-section input {
    width: 30%;
}

input:focus {
    background-color: rgb(240, 248, 255);
    outline: none;
    color: black;
}

.upper-section .host {
    display: flex;
    align-items: center;
}

.upper-section .host .img-container {
    width: 4em;
    height: 4em;
}

.upper-section .host .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.upper-section .host .more-info {
    display: flex;
    flex-direction: column;
    margin-left: 0.8em;
}

.upper-section .host .more-info p {
    margin: 0;
}

.upper-section .host .more-info a.host-name {
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.upper-section .host .more-info a.host-name:hover {
    text-decoration: underline;
}







.info-section {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 2% 15%;
}

.info-section .left {
    width: 65%;
    overflow: hidden;
}

.info-section .left h4 {
    margin: 0;
    font-size: 1.3em;
    margin-top: 7em;
}

.info-section .left p {
    font-size: 1em;
    line-height: 1.4em;
}

.info-section .left .text-info {
    overflow: hidden;
}

.info-section .left .text-info p textarea {
    width: 48em;
    max-width: 48em;
    height: 50vh;
    font-family: inherit;
    outline: none;
    border: solid 1px rgb(160, 159, 161);
    border-radius: 3px;
    padding: 1% 1%;
    color: rgb(107, 107, 107);
    font-size: 1.1em;
    background-color: rgba(240, 248, 255, 0.849);
}

.info-section .left .text-info p textarea:focus {
    background-color: rgb(240, 248, 255);
    outline: none;
    color: black;
}






.info-section .left .buttons-container-edit-delete {
    display: flex;
    gap: 0.8em;
    margin-bottom: 1em;
}

.info-section .left .buttons-container-edit-delete button {
    padding: 0.5em 1em;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-family: inherit;
    transition: background-color 0.2s ease-in-out;
}

.info-section .left .buttons-container-edit-delete .edit-btn {
    background-color: #08376b;
}

.info-section .left .buttons-container-edit-delete .edit-btn:hover {
    cursor: pointer;
    background-color: #08366bce;
}

.info-section .left .buttons-container-edit-delete .delete-btn {
    background-color: #880000;

}

.info-section .left .buttons-container-edit-delete .delete-btn:hover {
    cursor: pointer;
    background-color: rgba(136, 0, 0, 0.82);
}







.left .event-img-container {
    width: 100%;
    height: 30em;
    margin-bottom: 2em;
}

.left .event-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left .keywords-container {
    display: flex;
    gap: 0.8em;
}

.left .event-img-container ul.errorlist {
    margin-top: -1em;
    margin-bottom: 1.3em;
}

.left .keywords-container p {
    background-color: #35bfed6b;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 600;
}







.info-section .right {
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: sticky;
    top: 20%;
    height: 50%;
}

.info-section .right .title-and-see-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-section .right .title-and-see-all h4 {
    font-size: 1.3em;
    margin: 0;
}

.info-section .right .location-container, .info-section .right .event-category {
    background-color: rgb(255, 255, 255);
    padding: 1.4em;
    border-radius: 15px;
    width: 90%;
}

.info-section .right .location-container img {
    width: 1.2em;
    height: 1.2em;
}

.info-section .right .event-category a {
    text-decoration: none;
    display: flex;
    align-self: center;
    gap: 0.5em;
    margin-top: 0.8em;
    color: #0f4e94;
}

.info-section .right .event-category a:hover {
    text-decoration: underline;
}

.info-section .right .event-category a img {
    width: 1.5em;
    height: 1.5em;
}

.box {
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin: 0.5em;
}

.box > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box ul.errorlist {
    margin-top: 0;
}

.box input {
    font-family: inherit;
    padding: 0.5em;
    font-size: 0.8em;
}

.box .one-row-online {
    display: flex;
}

.box .online-meeting-link-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box .online-meeting-link-input input {
    margin: 0;
    max-width: 95%;
}

.not-displaying {
    display: none !important;
}

.box:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

.box:nth-child(3) p {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.box:nth-child(3) p input {
    margin: 0;
}

.info-section .right .location-container iframe {
    border: solid 1px grey;
    border-radius: 5px;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.info-section .right .buttons-container-attend {
    display: flex;
    justify-content: center;
    gap: 0.8em;
}

.info-section .right .buttons-container-attend button {
    padding: 0.8em 1.3em;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
    transition: background-color 0.2s ease-in-out;
}

.info-section .right .buttons-container-attend button.attend {
    background-color: #08376b;
    color: #ffffff;
}

.info-section .right .buttons-container-attend button.attend:hover {
    cursor: pointer;
    background-color: rgba(8, 55, 107, 0.88);
}

.info-section .right .buttons-container-attend button.share {
    color: #08376b;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
}

.info-section .right .buttons-container-attend button.share img {
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.3em;
}

.info-section .right .buttons-container-attend button.share:hover {
    cursor: pointer;
    background-color: rgba(236, 236, 236, 0.77);
}

form .edit-cancel-buttons-cont {
    display: flex;
    gap: 1em;
    width: 45%;
}

form .form-submit-button, form .form-cancel-editing-button {
    padding: 0.8em 1.3em;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
    background-color: #08376b;
    color: #ffffff;
    width: 45%;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;
}

form .form-cancel-editing-button {
    background-color: #e0e0e0;
    color: #08376b;
}

form .form-cancel-editing-button:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

form input[type='file']::file-selector-button {
    border: none;
    border-radius: 3px;
    padding: 0.5em 0.9em;
    background-color: rgba(104, 171, 208, 0.75);
    transition: background-color 0.2s ease-in-out;
}

form input[type='file']::file-selector-button:hover {
    cursor: pointer;
    background-color: rgba(104, 171, 208, 0.59);
}

form .form-submit-button:hover {
    cursor: pointer;
    background-color: rgba(8, 55, 107, 0.88);
}






.upcoming-events {
    display: flex;
    flex-direction: column;
    padding: 4% 15%;
    border-top: solid 0.15em rgb(209, 209, 209);
}

.upcoming-events .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

.upcoming-events .title-container h3 {
    color: #08376b;
    font-size: 1.4em;
    margin: 0;
}

.upcoming-events .title-container a {
    font-weight: 600;
    color: #08458b;
    font-family: inherit;
    text-decoration: none;
    font-size: 1.1em;
}

.upcoming-events .title-container a:hover {
    text-decoration: underline;
}

.upcoming-events .events {
    display: flex;
    gap: 1.4em;
}

.upcoming-events .events h2 {
    align-self: center;
    font-size: 1.1em;
    margin: auto;
    margin-top: 1em;
    color: #5f5f5f;
}

.upcoming-events .events .event-container {
    display: flex;
    flex-direction: column;
    width: 24%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1em 0.5em;
    border-radius: 7px;
    transition: background-color 0.4s ease-in-out;
}

.upcoming-events .events .event-container:hover {
    background-color: #f3f4ff;
}

.upcoming-events .events .event-container .img-container {
    width: 95%;
    height: 12em;
}

.upcoming-events .events .event-container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.upcoming-events .events .event-container .info {
    width: 95%;
}

.upcoming-events .events .event-container .info h6 {
    font-size: 1.4em;
    margin: 0;
    margin-top: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
}

.upcoming-events .events .event-container .info p {
    margin: 0;
    margin-top: 0.6em;
    color: rgb(112 112 112);
    font-weight: 600;
    font-size: 0.8em;
}





.box p {
    margin: 0
}

.attending-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.going-to-event-container {
    background-color: #ffffff;
    position: fixed;
    top: 20%;
    width: 50%;
    height: 40%;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 1.2em;
    border: solid 1px #ababab;
    box-shadow: 4px 4px 5px #ababab;
    border-radius: 5px;
}

.going-to-event-container h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.going-to-event-container section {
    display: flex;
    gap: 1em;
}

.going-to-event-container .left-img-container {
    width: 50%;
    height: 20em;
}

.going-to-event-container .left-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.going-to-event-container .right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.going-to-event-container .right h5 {
    font-size: 1.2em;
}

.going-to-event-container .right .box img {
    width: 1.5em;
    height: 1.5em;
}

.going-to-event-container .right button {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    text-align: center;
    font-family: inherit;
    font-weight: 600;
    font-size: 1em;
    border: solid 1px #ababab;
    border-radius: 5px;
    padding: 1.2em 0;
    transition: background-color 0.3s ease-in-out;
}

.going-to-event-container .right button.cancel {
    color: #08376b;
    padding: 0.7em 0;
    margin-bottom: 0.5em;
    margin-top: auto;
    background-color: #f1f1f1;
}

.going-to-event-container .right button.cancel:hover {
    background-color: rgba(232, 234, 246, 0.81);
    cursor: pointer;
}

.going-to-event-container .right button.share {
    background-color: #08376b;
    color: #ffffff;
}

.going-to-event-container .right button.share:hover {
    cursor: pointer;
    background-color: rgba(8, 55, 107, 0.89);
}

.going-to-event-container .right button img {
    width: 1.2em;
    height: 1.2em;
}

.going-to-event-container .right h5 {
    margin: 0;
}

ul.errorlist {
    padding: 0;
}

ul.errorlist li {
    list-style: none;
    color: #d70000;
    margin: 0;
    padding: 0;
    font-size: 1em;
}




@media screen and (max-width: 600px) {

    .upper-section h2 {
        font-size: 1.3em;
    }

    .upper-section {
        padding: 0 5%;
        padding-bottom: 2em;
    }

    .upper-section input {
        width: 90%;
    }

    .info-section {
        flex-direction: column;
        padding: 2% 5%;
        padding-top: 2em;
    }

    .info-section .left {
        width: 100%;
    }

    .info-section .right {
        width: 100%;
        padding: 2em 0;
    }

    .upcoming-events {
        padding: 5%;
    }

    .title-container a {
        font-size: 0.9em;
    }

    .upcoming-events .events {
        flex-direction: column;
    }

    .upcoming-events .events .event-container {
        width: 100%;
    }

    .upcoming-events .events .event-container .info h6 {
        font-size: 1em;
    }

    .upcoming-events .events .event-container .info .event-more-info .save-image-container {
        width: 1.4em;
        height: 1.4em;
    }

    .info-section .left .text-info p textarea {
        width: 97%;
    }

    form .edit-cancel-buttons-cont {
        width: 75%;
    }

    form .edit-cancel-buttons-cont button {
        width: 60%;
    }

    form .edit-cancel-buttons-cont a {
        width: 30%;
    }

}
