@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header ul.last-links li a {
    color: #203069;
}





.category-info {
    display: flex;
    justify-content: space-between;
    padding: 4% 15%;
    background-color: rgb(249, 249, 249);
}

.category-info .left {
    width: 48%;
}

.category-info .left img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    border-radius: 10px;
}

.category-info .right {
    width: 48%;
}

.category-info .right h2 {
    font-weight: 800;
    font-size: 2em;
    margin: 0
}

.category-info .right > p {
    color: #474747;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 1.7em;
}

.category-info .right .more-info {
    display: flex;
    flex-direction: column;
}

.category-info .right .more-info .one {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.category-info .right .more-info .one img {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.7em;
}

.category-info .right .more-info .one p {
    margin: 0;
    align-self: flex-end;
}

.category-info .add-event-btn {
    background-color: #08376b;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    padding: 0.7em 1em;
    border: none;
    border-radius: 10px;
    opacity: 0.9;
    transition: 0.4s;
    text-decoration: none;
}

.category-info .add-event-btn:hover {
    cursor: pointer;
    background-color: #08366bce;
    opacity: 1;
}















.info-section {
    display: flex;
    justify-content: space-between;
    padding: 2% 15%;
}

.info-section .left {
    width: 100%;
    overflow: hidden;
}

.info-section .left h4 {
    margin: 0;
    font-size: 1.3em;
}

.info-section .left p {
    font-size: 1em;
    line-height: 1.4em;
}

.info-section .left .text-info {
    height: 10em;
    overflow: hidden;
}

.info-section .left > p {
    color: #35c0ed;
    display: flex;
    align-items: center;
    margin: 0;
    width: 15%;
}

.info-section .left > p:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.info-section .left .text-info.fading-at-bottom::after {
    content: "";
    position: absolute;
    bottom: 3.9em;
    height: 15%;
    width: 40%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(249 249 249) 80%);
    pointer-events: none;
}

.info-section .left > p img {
    width: 10%;
    height: 2%;
    margin-left: 0.3em;
}






.left .events-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.left .events-title-container a {
    font-weight: 600;
    color: #08458b;
    font-family: inherit;
    font-size: 1em;
    transition: color 0.2s ease-in-out;
}

.left .events-title-container a:hover {
    color: #1272de;
}

.left .upcoming-events, .left .past-events {
    margin-top: 4em;
}

.event-container {
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 1.5em;
    position: relative;
    height: 25em;
    text-decoration: none;
    color: #000000;
    max-width: 100%;
}

.event-container .date-and-save-to-favs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.event-container .date-and-save-to-favs .image-container {
    width: 1.2em;
    height: 1.2em;
    padding: 0.7em;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    z-index: 1111;
    overflow: hidden;
}

.event-container .date-and-save-to-favs img {
    width: 100%;
    height: 100%;
}

.event-container .date-and-save-to-favs .image-container:hover {
    cursor: pointer;
    background-color: #b5d9ff;
}

.event-container .date-and-save-to-favs p {
    color: #35c0ed;
    font-weight: 700;
    margin: 0;
    font-size: 0.85em;
}

.title-and-img {
    display: flex;
    justify-content: space-between;
}

.event-container .title-and-img .title-container {
    width: 60%;
}

.event-container .title-and-img h6 {
    font-size: 1.3em;
    margin: 0;
    margin-top: 0.3em;
}

.title-and-img .container-event-img {
    width: 38%;
    height: 10em;
}

.title-and-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.title-and-img .buttons-cont {
    display: flex;
    gap: 0.8em;
    margin-top: 0.7em;
}

.title-and-img .your-event-container {
    display: flex;
    margin-top: 0.5em;
}

.title-and-img .your-event-container p {
    color: #EE6161;
    margin: 0;
    font-weight: 600;
}

.title-and-img .your-event-container img {
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.5em;
}

.event-container .location {
    display: flex;
    margin-top: 0.3em;
    align-items: center;
}

.event-container .location img {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
}

.event-container .location p {
    margin: 0;
}

.event-container .details {
    overflow: hidden;
    max-width: 100%;
}

.event-container .details:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(249, 249, 249) 80%);
}

.past-events p,
.past-events h6,
.past-events .all-events p {
    color: #707070;
}

.past-events .your-event-container p {
    color: #EE6161;
}

.no-events {
    text-align: center;
}




@media screen and (max-width: 600px) {

    .category-info .left {
        width: 100%;
    }

    .category-info {
        flex-direction: column;
        align-items: center;
        padding: 4% 5%;
    }

    .category-info .right {
        width: 100%;
    }

    .category-info .right h2 {
        font-size: 1.3em;
    }

    .category-info .right > p {
        font-size: 0.8em;
    }

    .info-section {
        padding: 2% 5%;
    }

    .event-container .title-and-img h6 {
        font-size: 1em;
    }

    .event-container .location p {
        font-size: 0.9em;
    }

    .title-and-img .your-event-container p,
    .title-and-img .passed-event-message-cont p {
        font-size: 0.9em;
    }

    .event-container .details {
        font-size: 0.8em;
    }

}
