{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/add_new_event_page.css' %}">
    <title>Profile Details Page</title>
</head>
<body>

    {% include 'base/nav_bar.html' with logo_color='dark' %}

    <main>

        <img src="{% static 'images/add_event_page_background.png' %}" alt="background-img">

        <div class="content-edit">
            <section class="info-section">
                <div class="right">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <section class="all-fields">
                            <div class="field">
                                {{ form.category.label }}
                                {{ form.category }}
                                {{ form.category.errors }}
                            </div>

                            <div class="field">
                                {{ form.poster_image.label }}
                                {{ form.poster_image }}
                                {{ form.poster_image.errors }}
                            </div>

                            <div class="field">
                                {{ form.title.label }}
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>

                            <div class="field online-field">
                                {{ form.online.label }}
                                {{ form.online }}
                                {{ form.online.errors }}
                            </div>

                            <div class="field city-field">
                                {{ form.city.label }}
                                {{ form.city }}
                                {{ form.city.errors }}
                            </div>

                            <div class="field location-field">
                                {{ form.location.label }}
                                {{ form.location }}
                                {{ form.location.errors }}
                            </div>

                            <div class="field online-meeting-link-field">
                                {{ form.online_meeting_link.label }}
                                {{ form.online_meeting_link }}
                                {{ form.online_meeting_link.errors }}
                            </div>

                            <div class="field time-field">
                                {{ form.time.label }}
                                {{ form.time }}
                                {{ form.time.errors }}
                            </div>

                            <div class="break-line"></div>

                            <div class="field">
                                {{ form.details.label }}
                                {{ form.details }}
                                {{ form.details.errors }}
                            </div>
                        </section>

                        <button type="submit">Add event</button>
                    </form>
                </div>
            </section>
        </div>


    </main>

    {% include 'base/footer.html' %}

</body>

    <script src="{% static 'js/nav_bar.js' %}"
        lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
        darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
    ></script>

    <script>
        const isOnlineFieldElement = document.querySelector('.online-field input')

        const onlineMeetingLinkField = document.getElementsByClassName('online-meeting-link-field')[0]
        const onlineMeetingLinkInput = onlineMeetingLinkField.querySelector('input')

        const cityField = document.getElementsByClassName('city-field')[0]
        const cityInput = cityField.querySelector('input')

        const locationField = document.getElementsByClassName('location-field')[0]
        const locationInput = locationField.querySelector('input')

        const breakLineElement = document.getElementsByClassName('break-line')[0]

        if (!isOnlineFieldElement.checked) {
            cityInput.value = ''
            locationInput.value = ''

            onlineMeetingLinkField.style.display = 'none'
            cityField.style.display = 'flex'
            locationField.style.display = 'flex'

            onlineMeetingLinkInput.value = 'http://127.0.0.1:8000/'
        }

        isOnlineFieldElement.addEventListener('change', () => {
            if (isOnlineFieldElement.checked) {
                onlineMeetingLinkInput.value = ''

                onlineMeetingLinkField.style.display = 'flex'
                cityField.style.display = 'none'
                locationField.style.display = 'none'

                cityInput.value = 'online_event'
                locationInput.value = 'online_event'
            } else {
                cityInput.value = ''
                locationInput.value = ''

                onlineMeetingLinkField.style.display = 'none'
                cityField.style.display = 'flex'
                locationField.style.display = 'flex'

                onlineMeetingLinkInput.value = 'http://127.0.0.1:8000/'
            }
        })
    </script>

</html>