{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Events Page</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/just_logo_without_background.png' %}">
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/all_events_page.css' %}">
</head>
<body>
    {% include 'base/nav_bar.html' %}

    <section class="upper-section">
        <h2>Explore Events</h2>

        <div class="more-info">
            <p>Explore who’s hosting local and online events for all the things you love. Find out about passionate individuals and organizations creating opportunities for you to get involved.</p>
        </div>
    </section>


    <main>

        <section class="search-events-bar-section">
            <input type="text" placeholder="Search events by title..." class="search-events-input">
        </section>

        <section class="aside-and-right-content">
            <aside>
                <div class="filters-title-box">
                    <img src="{% static 'images/filters_icon.png' %}" alt="filters-icon">
                    <h2>Filters</h2>
                </div>

                <form action="{% url 'all-events-page' %}" method="GET">
                    {{ filter_form }}

                    <div class="filtering-btns-container">
                        <button>Filter</button>
                        <a href="{% url 'all-events-page' %}">Clear</a>
                    </div>
                </form>
            </aside>

            <div class="right">
                <h2>Events</h2>

                <div class="all-events">
                    {% for event in all_events %}
                        <a href="{% url 'event-page' categoryId=event.category.id pk=event.id %}" class="event-container {% if event.already_passed %}passed-event-container{% endif %}">

                            <div class="date-and-save-to-favs">
                                <p>{{ event.time }}</p>
                                <div class="image-container">
                                    {% if event.saved_to_favourites_by_logged_in_user %}
                                        <img src="{% static 'images/already_saved_event_icon.png' %}"
                                             class="save-to-favourites-btn {{ event.id }} already-saved"
                                             alt="delete-icon">
                                    {% else %}
                                        <img src="{% static 'images/save_event_icon.png' %}"
                                             class="save-to-favourites-btn {{ event.id }}"
                                             alt="delete-icon">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="title-and-img">
                                <div class="title-container">
                                    <h6>{{ event.title }}</h6>
                                    <div class="location">
                                        <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                        <p>{{ event.exact_location }}</p>
                                    </div>

                                    {% if event.host.id == request.user.id %}
                                        <div class="your-event-container">
                                            <p>Your event</p>
                                            <img src="{% static 'images/your_event_icon.png' %}" alt="your-event-icon" >
                                        </div>
                                    {% endif %}

                                    {% if event.already_passed %}
                                        <div class="passed-event-message-cont">
                                            <p>Already passed event</p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="container-event-img">
                                    <img src="{{ event.poster_image.url }}" alt="category-img">
                                </div>
                            </div>

                            <p class="details">{{ event.details }}</p>
                        </a>
                    {% empty %}
                        <h3>No events yet</h3>
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>

    {% include 'base/footer.html' %}

</body>

    <script src="{% static 'js/nav_bar.js' %}"
            lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
            darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
    ></script>

    <script>

        const searchEventsInput = document.getElementsByClassName('search-events-input')[0]

        searchEventsInput.addEventListener('input', () => {
            const eventsUrl = `{% url 'list-events-api' %}?searchedTitle=${searchEventsInput.value}`
            const allEventsElement = document.getElementsByClassName('all-events')[0]

            const response = fetch(eventsUrl)
                .then((response) => response.json())
                .then((resultEvents) => {

                    allEventsElement.innerHTML = ''

                    if (resultEvents.length == 0) {
                        allEventsElement.innerHTML = `
                            <h3>No events matched</h3>
                        `
                    }

                    for (let event of resultEvents) {
                        const aEventElement = document.createElement('a')
                        aEventElement.href = `{% url 'event-page' categoryId='00' pk='000' %}`.replace('00', event.category).replace('000', event.id)
                        aEventElement.className = 'event-container'
                        const requestUserId = '{{ request.user.id }}'

                        if (requestUserId == `${event.host}`) {
                            aEventElement.innerHTML = `
                                <p>${event.event_time_formatted}</p>

                                <div class="title-and-img">
                                    <div class="title-container">
                                        <h6>${event.title}</h6>
                                        <div class="location">
                                            <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                            <p>${event.exact_location}</p>
                                        </div>

                                        <div class="your-event-container">
                                            <p>Your event</p>
                                            <img src="{% static 'images/your_event_icon.png' %}" alt="your-event-icon" >
                                        </div>
                                    </div>

                                    <div class="container-event-img">
                                        <img src="${event.poster_image_full_url}" alt="category-img">
                                    </div>
                                </div>

                                <p class="details">${event.details}</p>
                            `
                        } else {
                            aEventElement.innerHTML = `
                                <p>${event.event_time_formatted}</p>

                                <div class="title-and-img">
                                    <div class="title-container">
                                        <h6>${event.title}</h6>
                                        <div class="location">
                                            <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                            <p>${event.exact_location}</p>
                                        </div>
                                    </div>

                                    <div class="container-event-img">
                                        <img src="${event.poster_image_full_url}" alt="category-img">
                                    </div>
                                </div>

                                <p class="details">${event.details}</p>
                            `
                        }


                        allEventsElement.appendChild(aEventElement)
                    }

                })
        })






        const saveToFavsBtns = document.getElementsByClassName('save-to-favourites-btn')

        for (let saveBtn of saveToFavsBtns) {
            const eventId = saveBtn.classList[1]
            const eventContainer = saveBtn.parentElement.parentElement.parentElement
            const eventHrefUrl = eventContainer.href

            saveBtn.addEventListener('click', () => {

                if (saveBtn.classList.contains('already-saved')) {
                    eventContainer.href = '#remove-from-favs'

                    const deleteFavouriteRecordUrl = `{% url 'delete-favourite-record-by-event-and-user-api' event_id='0' %}`.replace('0', eventId)

                    fetch(deleteFavouriteRecordUrl, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': `{{ csrf_token }}`
                        }
                    })
                        .then((response) => response.json())
                        .then((result) => {
                            saveBtn.src = `{% static 'images/save_event_icon.png' %}`
                            saveBtn.classList.remove('already-saved')

                            eventContainer.href = eventHrefUrl
                        })
                } else {
                    eventContainer.href = '#add-to-favs'

                    fetch(`{% url 'list-create-favourites-record-api' %}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': `{{ csrf_token }}`
                        },
                        body: JSON.stringify({
                            user: `{{ request.user.id }}`,
                            event: eventId
                        })
                    })
                        .then((response) => response.json())
                        .then((result) => {
                            saveBtn.src = `{% static 'images/already_saved_event_icon.png' %}`
                            saveBtn.classList.add('already-saved')

                            eventContainer.href = eventHrefUrl
                        })
                }

            })
        }

    </script>

</html>