{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Page</title>
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/category_page.css' %}">
</head>
<body>

    {% include 'base/nav_bar.html' %}

    <div class="main-section">
        <section class="category-info">
            <div class="left">
                <img src="{% static 'images/environment_category.jpg' %}" alt="category-image">
            </div>

            <div class="right">
                <h2>{{ object.name }}</h2>
                <p>{{ object.short_description }}</p>

                <div class="more-info">
                    <div class="one">
                        <img src="{% static 'images/events.png' %}" alt="events">
                        <p>34 events</p>
                    </div>

                    <div class="one">
                        <img src="{% static 'images/members.png' %}" alt="members">
                        <p>23 active members</p>
                    </div>

                    <div class="one">
                        <img src="{% static 'images/location.png' %}" alt="locations">
                        <p>Online, Haskovo, Sofia, New York and others</p>
                    </div>

                    <div class="one">
                        <a href="#" class="add-event-btn">Add Event</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="navigate-category">
            <a href="#">About</a>
            <a href="#">Events</a>
            <a href="#">Photos</a>
            <a href="#">Discussions</a>
        </div>

        <section class="info-section">
            <div class="left">
                <h4>What we're about</h4>

                <div class="text-info fading-at-bottom">
                    <p>{{ object.long_description }}</p>
                </div>

                <p id="read_more_desc">Read more <img src="{% static 'images/arrow_down.png' %}" alt="arrow-down"></p>

                <div class="upcoming-events">
                    <div class="events-title-container">
                        <h4>Upcoming events ({{ upcoming_events|length }})</h4>
                        <a href="#">See all</a>
                    </div>

                    <div class="all-events">

                        {% for upcoming_event in upcoming_events %}
                            <a href="{% url 'event-page' categoryId=object.id pk=upcoming_event.id %}" class="event-container">
                                <p>{{ upcoming_event.time }}</p>

                                <div class="title-and-img">
                                    <div class="title-container">
                                        <h6>{{ upcoming_event.title }}</h6>
                                        <div class="location">
                                            <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                            <p>{{ upcoming_event.location }}, {{ upcoming_event.city }}</p>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/environment_category.jpg' %}" alt="category-img">
                                </div>

                                <p class="details">{{ upcoming_event.details }}</p>
                            </a>
                        {% endfor %}

                    </div>
                </div>

                <div class="past-events">
                    <div class="events-title-container">
                        <h4>Past events ({{ past_events|length }})</h4>
                        <a href="#">See all</a>
                    </div>

                    <div class="all-events">

                        {% for past_event in past_events %}
                            <a href="{% url 'event-page' categoryId=object.id pk=past_event.id %}" class="event-container">
                                <p>{{ past_event.time }}</p>

                                <div class="title-and-img">
                                    <div class="title-container">
                                        <h6>{{ past_event.title }}</h6>
                                        <div class="location">
                                            <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                            <p>{{ past_event.location }}</p>
                                        </div>
                                    </div>
                                    <img src="{% static 'images/environment_category.jpg' %}" alt="category-img">
                                </div>

                                <p class="details">{{ past_event.details }}</p>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="right">
                <div class="title-and-see-all">
                    <h4>Active members</h4>
                    <a href="#">See all</a>
                </div>

                <div class="members">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                </div>
            </div>
        </section>
    </div>

    {% include 'base/footer.html' %}

</body>

    <script>
        const readMoreBtn = document.getElementById('read_more_desc')
        const longDescElement = document.getElementsByClassName('text-info')[0]

        readMoreBtn.addEventListener('click', () => {
            if (readMoreBtn.textContent.includes('Read more')) {
                longDescElement.style.height = 'auto'
                readMoreBtn.innerHTML = 'Read less'
                longDescElement.className = 'text-info'
            } else {
                readMoreBtn.innerHTML = 'Read more'
                longDescElement.style.height = '10em'
                longDescElement.className = 'text-info fading-at-bottom'
            }
        })
    </script>
</html>