{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Page</title>
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/category_page.css' %}">
</head>
<body>
    <main>

        {% include 'base/nav_bar.html' %}

        <div class="main-section">
            <section class="category-info">
                <div class="left">
                    <img src="{% static 'images/environment_category.jpg' %}" alt="category-image">
                </div>

                <div class="right">
                    <h2>{{ category.name }}</h2>
                    <p>{{ category.short_description }}</p>

                    <div class="more-info">
                        <div class="one">
                            <img src="{% static 'images/events.png' %}" alt="events">
                            <p>34 events</p>
                        </div>

                        <div class="one">
                            <img src="{% static 'images/members.png' %}" alt="members">
                            <p>23 active members</p>
                        </div>

                        <div class="one">
                            <img src="{% static 'images/location.png' %}" alt="locations">
                            <p>Online, Haskovo, Sofia, New York and others</p>
                        </div>

                        <div class="one">
                            <a href="#" class="add-event-btn">Add Event</a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="navigate-category">
                <a href="#">About</a>
                <a href="#">Events</a>
                <a href="#">Photos</a>
                <a href="#">Discussions</a>
            </div>

            <section class="info-section">
                <div class="left">
                    <h4>What we're about</h4>

                    <div class="text-info fading-at-bottom">
                        <p>{{ category.long_description }}</p>
                    </div>

                    <p id="read_more_desc">Read more <img src="{% static 'images/arrow_down.png' %}" alt="arrow-down"></p>

                    <div class="upcoming-events">
                        <div class="events-title-container">
                            <h4>Upcoming events ({{ count_upcoming_events }})</h4>
                            <a href="#">See all</a>
                        </div>

                        <div class="all-events">

                            {% for upcoming_event in upcoming_events %}
                                <a href="{% url 'event-page' categoryId=category.id pk=upcoming_event.id %}" class="event-container">
                                    <p>{{ upcoming_event.time }}</p>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>{{ upcoming_event.title }}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>{{ upcoming_event.exact_location }}</p>
                                            </div>
                                        </div>

                                        <div class="container-event-img">
                                            <img src="{{ upcoming_event.poster_image.url }}" alt="category-img">
                                        </div>
                                    </div>

                                    <p class="details">{{ upcoming_event.details }}</p>
                                </a>
                            {% empty %}
                                <p class="no-events">No upcoming events yet</p>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="past-events">
                        <div class="events-title-container">
                            <h4>Past events ({{ count_past_events }})</h4>
                            <a href="#">See all</a>
                        </div>

                        <div class="all-events">

                            {% for past_event in past_events %}
                                <a href="{% url 'event-page' categoryId=category.id pk=past_event.id %}" class="event-container">
                                    <p>{{ past_event.time }}</p>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>{{ past_event.title }}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>{{ past_event.exact_location }}</p>
                                            </div>
                                        </div>
                                        <img src="{{ past_event.poster_image.url }}" alt="category-img">
                                    </div>

                                    <p class="details">{{ past_event.details }}</p>
                                </a>
                            {% empty %}
                                <p class="no-events">No past events yet</p>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="title-and-see-all">
                        <h4>Active members</h4>
                        <a href="#">See all</a>
                    </div>

                    <div class="members">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                        <img src="{% static 'images/person_img.jpg' %}" alt="profile-img">
                    </div>
                </div>
            </section>
        </div>

        {% include 'base/footer.html' %}

    </main>

    <div class="add-event-container {% if not event_form.errors %}not-displaying{% endif %}">
        <form method="POST" action="{% url 'category-page' pk=category.pk %}" enctype="multipart/form-data">
            {% csrf_token %}

            <h1>Add event</h1>

            {% for field in event_form %}
                <p>
                    {{ field.label }}
                    {{ field }}
                    {{ field.errors }}
                </p>
            {% endfor %}

            <div class="buttons-container">
                <button type="submit" id="submitAddEventBtn">Add event</button>
                <button type="button" class="cancel-btn">Cancel</button>
            </div>
        </form>
    </div>

</body>

    <script>
        const readMoreBtn = document.getElementById('read_more_desc')
        const longDescElement = document.getElementsByClassName('text-info')[0]

        readMoreBtn.addEventListener('click', () => {
            if (readMoreBtn.textContent.includes('Read more')) {
                longDescElement.style.height = 'auto'
                readMoreBtn.innerHTML = 'Read less'
                longDescElement.className = 'text-info'
            } else {
                readMoreBtn.innerHTML = 'Read more'
                longDescElement.style.height = '10em'
                longDescElement.className = 'text-info fading-at-bottom'
            }
        })

        const addEventBtn = document.getElementsByClassName('add-event-btn')[0]
        const addEventContainer = document.getElementsByClassName('add-event-container')[0]
        const mainElement = document.getElementsByTagName('main')[0]
        const cancelBtn = document.getElementsByClassName('cancel-btn')[0]
        const errorListUlElements = document.getElementsByClassName('errorlist')
        const formInputFields = document.querySelectorAll('form input:not(:first-child)')
        const formTextareaField = document.getElementsByTagName('textarea')[0]

        addEventBtn.addEventListener('click', () => {
            for (const errorMessage of errorListUlElements) {
                errorMessage.style.display = 'none'
            }
            for (const inputField of formInputFields) {
                inputField.value = ''
            }
            formTextareaField.value = ''

            addEventContainer.style.display = 'block'
            mainElement.style.opacity = '0.4'
            mainElement.style.filter = 'alpha(opacity=20)'
        })

        cancelBtn.addEventListener('click', () => {
            addEventContainer.style.display = 'none'
            addEventContainer.className += ' not-displaying'
            mainElement.style.opacity = '1'
            mainElement.style.filter = 'alpha(opacity=100)'
        })

        const submitFormEventElement = document.getElementById('submitAddEventBtn')
        const formAddEvent = document.getElementsByTagName('form')[0]

        submitFormEventElement.addEventListener('click', () => {
            submitFormEventElement.disabled = true
            submitFormEventElement.style.backgroundColor = 'rgba(196, 212, 255, 0.68)'
            submitFormEventElement.textContent = 'Adding...'

            formAddEvent.submit()
        })



        const headerElement = document.getElementsByTagName('header')[0]
        const searchInput = document.getElementsByTagName('input')[0]

        document.addEventListener('scroll', () => {
            if (window.scrollY > 10) {
                headerElement.style.backgroundColor = 'rgba(67, 79, 98, 0.76)'
                searchInput.className += ' white-placeholder'
            } else {
                headerElement.style.backgroundColor = 'transparent'
                searchInput.className = 'search-bar'
            }
        })
    </script>
</html>