{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event Page</title>
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/edit_event_page.css' %}">
</head>
<body>

{% include 'base/nav_bar.html' %}

<main>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <p class="category-field not-displaying">{{ form.category }}</p>

        <section class="upper-section">
            <h2>{{ form.title.label }}</h2>
            {{ form.title }}
            {{ form.title.errors }}

            <div class="host">
                <a href="{% url 'profile-details-update' pk=object.host.profile.id %}" class="img-container">
                    {% if object.host.profile.profile_image %}
                        <img src="{{ object.host.profile.profile_image.url }}" alt="host-img">
                    {% else %}
                        <img src="{% static 'images/profile_page.png' %}" alt="host-img">
                    {% endif %}
                </a>

                <div class="more-info">
                    <p>Hosted By</p>
                    {% if request.user.profile.id == object.host.profile.id %}
                        <a href="{% url 'profile-details-update' pk=object.host.profile.id %}" class="host-name">You</a>
                    {% else %}
                        <a href="{% url 'profile-details-update' pk=object.host.profile.id %}"
                           class="host-name">{{ object.host.profile.full_name }}</a>
                    {% endif %}

                </div>
            </div>
        </section>

        <section class="info-section">
            <div class="left">
                <div class="event-img-container">
                    <img src="{{ object.poster_image.url }}" alt="event_image">

                    <div>
                        {{ form.poster_image.label }}
                        {{ form.poster_image }}
                        {{ form.poster_image.errors }}
                    </div>
                </div>

                <h4>{{ form.details.label }}</h4>

                <div class="text-info">
                    <p>
                        {{ form.details }}
                        {{ form.details.errors }}
                    </p>
                </div>

                <div class="keywords-container">
                    {% for keyword in keywords %}
                        <p>{{ keyword }}</p>
                    {% endfor %}
                </div>

                <div class="edit-cancel-buttons-cont">
                    <button type="submit" class="form-submit-button">Save Changes</button>
                    <a href="{% url 'event-page' categoryId=object.category.id pk=object.id %}" class="form-cancel-editing-button">Cancel</a>
                </div>
            </div>

            <div class="right">
                <div class="event-category">
                    <div class="title-and-see-all">
                        <h4>Category</h4>
                    </div>

                    <a href="{% url 'category-page' pk=object.category.id %}"><img src="{{ object.category.image.url }}"
                                                                                   alt="category-img">{{ object.category.name }}
                    </a>
                </div>

                <div class="location-container">
                    <div class="title-and-see-all">
                        <h4>More info</h4>
                    </div>

                    <section class="box">
                        <img src="{% static 'images/clock.png' %}" alt="clock_icon">
                        <p>
                            {{ form.time.label }}
                            {{ form.time }}
                            {{ form.time.errors }}
                        </p>
                    </section>

                    <section class="box">
                        <div class="{% if object.exact_location != 'Online' %}not-displaying{% endif %}">
                            <img src="{% static 'images/location_grey.png' %}" alt="location_grey_icon">
                            {{ form.online_meeting_link.label }}

                            <div class="online-meeting-link-input">
                                {{ form.online_meeting_link }}
                                {{ form.online_meeting_link.errors }}
                            </div>
                        </div>

                        <p class="city-field {% if object.exact_location == 'Online' %}not-displaying{% endif %}">
                            <img src="{% static 'images/location_grey.png' %}" alt="location_grey_icon">
                            {{ form.city.label }}
                            {{ form.city }}
                            {{ form.city.errors }}
                        </p>

                        <p class="location-field {% if object.exact_location == 'Online' %}not-displaying{% endif %}">
                            <img src="{% static 'images/city_icon.png' %}" alt="location_grey_icon">

                            {{ form.location.label }}
                            {{ form.location }}
                            {{ form.location.errors }}
                        </p>
                    </section>

                    {% if object.exact_location != 'Online' %}
                        <iframe src="https://www.google.com/maps?q={{ object.exact_location }}&output=embed&maptype=satellite"></iframe>
                    {% endif %}
                </div>
            </div>
        </section>

    </form>

</main>

{% include 'base/footer.html' %}

</body>

<script src="{% static 'js/nav_bar.js' %}"
        lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
        darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
></script>

<script>

    const eventImgContainerInputDiv = document.querySelectorAll('.event-img-container div')[0]
    const eventImgInput = eventImgContainerInputDiv.getElementsByTagName('input')[0]

    eventImgContainerInputDiv.textContent = ''
    eventImgContainerInputDiv.appendChild(eventImgInput)



    const eventObjectExactLocation = '{{ object.exact_location }}'
    const cityFieldInput = document.querySelector('.city-field input')
    const locationFieldInput = document.querySelector('.location-field input')
    const categoryFieldInput = document.querySelector('.category-field input')

    if (eventObjectExactLocation === 'Online') {
        cityFieldInput.value = 'online_event'
        locationFieldInput.value = 'online_event'
        categoryFieldInput.value = `{{ object.category }}`
    }


</script>
</html>