{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/event_page.css' %}">
</head>
<body>

    {% include 'base/nav_bar.html' %}

    <section class="upper-section">
        <h2>{{ object.title }}</h2>

        <div class="host">
            <a href="#" class="img-container">
                <img src="{% static 'images/person_img.jpg' %}" alt="host-img">
            </a>

            <div class="more-info">
                <p>Hosted By</p>
                <a href="#" class="host-name">{{ object.host.profile.full_name }}</a>
            </div>
        </div>
    </section>

    <section class="info-section">
        <div class="left">
            <div class="event-img-container">
                <img src="{% static 'images/environment_category.jpg' %}" alt="event_image">
            </div>

            <h4>Details</h4>

            <div class="text-info">
                <p>{{ object.details }}</p>
            </div>

            <div class="keywords-container">
                {% for keyword in keywords %}
                    <p>{{ keyword }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="right">
            <div class="event-category">
                <div class="title-and-see-all">
                    <h4>Category</h4>
                </div>

                <a href="#"><img src="{{ object.category.image.url }}" alt="category-img">{{ object.category.name }}</a>
            </div>

            <div class="location-container">
                <div class="title-and-see-all">
                    <h4>More info</h4>
                </div>

                <section class="box">
                    <img src="{% static 'images/clock.png' %}" alt="clock_icon">
                    <p>{{ object.time }}</p>
                </section>

                <section class="box">
                    <img src="{% static 'images/location_grey.png' %}" alt="location_grey_icon">
                    <p>{{ object.exact_location }}</p>
                </section>
                <iframe src="https://www.google.com/maps?q={{ object.exact_location }}&output=embed&maptype=satellite"></iframe>
            </div>
        </div>
    </section>

    {% if see_more_events %}
        <section class="upcoming-events" id="explore">
            <div class="title-container">
                <h3>See more ({{ count_more_events }})</h3>
                <a href="{% url 'all-events-page' %}">See all events</a>
            </div>

            <div class="events">
                {% for event in see_more_events %}
                    <a href="{% url 'event-page' categoryId=event.category.id pk=event.id %}" class="event-container">
                        <div class="img-container">
                            <img src="{{ event.poster_image.url }}" alt="event-img">
                        </div>

                        <div class="info">
                            <h6>{{ event.title }}</h6>
                            <p>Hosted by: {{ event.host.profile.full_name }}</p>
                            <p>{{ event.time }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% include 'base/footer.html' %}

</body>
<script>
    const headerElement = document.getElementsByTagName('header')[0]
    const searchInput = document.getElementsByTagName('input')[0]

    document.addEventListener('scroll', () => {
        if (window.scrollY > 10) {
            headerElement.style.backgroundColor = 'rgba(67, 79, 98, 0.76)'
            searchInput.className += ' white-placeholder'
        } else {
            headerElement.style.backgroundColor = 'transparent'
            searchInput.className = 'search-bar'
        }
    })
</script>
</html>