{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/event_page.css' %}">
</head>
<body>

    {% include 'base/nav_bar.html' %}

    <section class="upper-section">
        <h2>We Speak English Conversation Club</h2>

        <div class="host">
            <a href="#" class="img-container">
                <img src="{% static 'images/person_img.jpg' %}" alt="host-img">
            </a>

            <div class="more-info">
                <p>Hosted By</p>
                <a href="#" class="host-name">{{ object.host.profile.first_name }} {{ object.host.profile.last_name }}</a>
            </div>
        </div>
    </section>

    <section class="info-section">
        <div class="left">
            <div class="event-img-container">
                <img src="{% static 'images/environment_category.jpg' %}" alt="event_image">
            </div>

            <h4>Details</h4>

            <div class="text-info">
                <p>{{ object.details }}</p>
            </div>

            <div class="keywords-container">
                <p>Travel</p>
                <p>Walking</p>
                <p>Social Networking</p>
                <p>Hiking</p>
                <p>Events in London</p>
            </div>
        </div>

        <div class="right">
            <div class="location-container">
                <div class="title-and-see-all">
                    <h4>More info</h4>
                </div>

                <section class="box">
                    <img src="{% static 'images/clock.png' %}" alt="clock_icon">
                    <p>{{ object.time }}</p>
                </section>

                <section class="box">
                    <img src="{% static 'images/location_grey.png' %}" alt="location_grey_icon">
                    <p>{{ object.location }}</p>
                </section>
            </div>
        </div>
    </section>

    {% include 'base/footer.html' %}

</body>
</html>