{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Events</title>
    <link rel="stylesheet" href="{% static 'css/base/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories/my_events_page.css' %}">
</head>
<body>
    <main>

        {% include 'base/nav_bar.html' %}

        <div class="main-section">
            <section class="upper-section">
                <h2>My events</h2>

                <div class="more-info">
                    <p>Manage all the events you've created. Easily track and update the experiences you've planned. Whether it's online or in person, your events are all in one place, ready for you to manage and share!</p>
                </div>
            </section>

            <section class="info-section">
                <div class="left">
                    <div class="upcoming-events">
                        <div class="events-title-container">
                            <h4>Upcoming events ({{ count_upcoming_events }})</h4>
                        </div>

                        <div class="all-events">

                            {% for upcoming_event in upcoming_host_events %}
                                <a href="{% url 'event-page' categoryId=upcoming_event.category.id pk=upcoming_event.id %}" class="event-container">

                                    <div class="date-and-save-to-favs">
                                        <p>{{ upcoming_event.time }}</p>

                                        {% if request.user.is_authenticated %}
                                            <div class="image-container">
                                                {% if upcoming_event.saved_to_favourites_by_logged_in_user %}
                                                    <img src="{% static 'images/already_saved_event_icon.png' %}"
                                                         class="save-to-favourites-btn {{ upcoming_event.id }} already-saved"
                                                         alt="delete-icon">
                                                {% else %}
                                                    <img src="{% static 'images/save_event_icon.png' %}"
                                                         class="save-to-favourites-btn {{ upcoming_event.id }}"
                                                         alt="delete-icon">
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                    </div>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>{{ upcoming_event.title }}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>{{ upcoming_event.exact_location }}</p>
                                            </div>

                                            {% if upcoming_event.host.id == request.user.id %}
                                                <div class="your-event-container">
                                                    <p>Your event</p>
                                                    <img src="{% static 'images/your_event_icon.png' %}" alt="your-event-icon" >
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="container-event-img">
                                            <img src="{{ upcoming_event.poster_image.url }}" alt="category-img">
                                        </div>
                                    </div>

                                    <p class="details">{{ upcoming_event.details }}</p>
                                </a>
                            {% empty %}
                                <p class="no-events">No upcoming events yet</p>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="past-events">
                        <div class="events-title-container">
                            <h4>Past events ({{ count_past_events }})</h4>
                        </div>

                        <div class="all-events">

                            {% for past_event in past_host_events %}
                                <a href="{% url 'event-page' categoryId=past_event.category.id pk=past_event.id %}" class="event-container">

                                    <div class="date-and-save-to-favs">
                                        <p>{{ past_event.time }}</p>

                                        {% if request.user.is_authenticated %}
                                            <div class="image-container">
                                                {% if past_event.saved_to_favourites_by_logged_in_user %}
                                                    <img src="{% static 'images/already_saved_event_icon.png' %}"
                                                         class="save-to-favourites-btn {{ past_event.id }} already-saved"
                                                         alt="delete-icon">
                                                {% else %}
                                                    <img src="{% static 'images/save_event_icon.png' %}"
                                                         class="save-to-favourites-btn {{ past_event.id }}"
                                                         alt="delete-icon">
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                    </div>

                                    <div class="title-and-img">
                                        <div class="title-container">
                                            <h6>{{ past_event.title }}</h6>
                                            <div class="location">
                                                <img src="{% static 'images/location_grey.png' %}" alt="locations">
                                                <p>{{ past_event.exact_location }}</p>
                                            </div>

                                            {% if past_event.host.id == request.user.id %}
                                                <div class="your-event-container">
                                                    <p>Your event</p>
                                                    <img src="{% static 'images/your_event_icon.png' %}" alt="your-event-icon" >
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="container-event-img">
                                            <img src="{{ past_event.poster_image.url }}" alt="category-img">
                                        </div>
                                    </div>

                                    <p class="details">{{ past_event.details }}</p>
                                </a>
                            {% empty %}
                                <p class="no-events">No past events yet</p>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="title-and-see-all">
                        <h4>Active members</h4>
                    </div>

                    <div class="members">

                        {% if request.user.is_authenticated %}
                            {% for active_member in active_members %}
                                <a href="{% url 'profile-details-update' pk=active_member.profile.id %}" class="active-member-img-cont">
                                    <img src="{{ active_member.profile.profile_image.url }}" alt="profile-img">
                                </a>
                            {% empty %}
                                <p>Be the first one to attend an event in the {{ category.name }} category!</p>
                            {% endfor %}
                        {% else %}
                            <div class="not-allowed-to-see">
                                <p>You are not allowed to see the active members in this category! You need to log in first!</p>
                                <a>Log In</a>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </section>
        </div>

        {% include 'base/footer.html' %}

    </main>

</body>

    <script src="{% static 'js/nav_bar.js' %}"
            lightLogo="{% static 'images/volunteer_act_logo_light.png' %}"
            darkLogo="{% static 'images/volunteer_act_logo_dark.png' %}"
    ></script>

    <script>

        const saveToFavsBtns = document.getElementsByClassName('save-to-favourites-btn')

        for (let saveBtn of saveToFavsBtns) {
            const eventId = saveBtn.classList[1]
            const eventContainer = saveBtn.parentElement.parentElement.parentElement
            const eventHrefUrl = eventContainer.href

            saveBtn.addEventListener('click', () => {

                if (saveBtn.classList.contains('already-saved')) {
                    eventContainer.href = '#remove-from-favs'

                    const deleteFavouriteRecordUrl = `{% url 'delete-favourite-record-by-event-and-user-api' event_id='0' %}`.replace('0', eventId)

                    fetch(deleteFavouriteRecordUrl, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': `{{ csrf_token }}`
                        }
                    })
                        .then((response) => response.json())
                        .then((result) => {
                            saveBtn.src = `{% static 'images/save_event_icon.png' %}`
                            saveBtn.classList.remove('already-saved')

                            eventContainer.href = eventHrefUrl
                        })
                } else {
                    eventContainer.href = '#add-to-favs'

                    fetch(`{% url 'list-create-favourites-record-api' %}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': `{{ csrf_token }}`
                        },
                        body: JSON.stringify({
                            user: `{{ request.user.id }}`,
                            event: eventId
                        })
                    })
                        .then((response) => response.json())
                        .then((result) => {
                            saveBtn.src = `{% static 'images/already_saved_event_icon.png' %}`
                            saveBtn.classList.add('already-saved')

                            eventContainer.href = eventHrefUrl
                        })
                }

            })
        }

    </script>
</html>