@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}






video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    object-fit: cover;
    filter: brightness(30%);
}






.main-content {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15%;
}



.login-box {
    display: flex;
    justify-content: center;
    width: 35%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(214, 213, 213);
    border-radius: 4px;
    padding: 5em 7em;
}

form h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 0.3em;
}

form > p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-top: 1em;
    color: #ffffff;
}

form p input {
    padding: 0.6em 0.8em;
    border: solid 1px rgb(156, 156, 156);
    border-radius: 4px;
    font-size: 1em;
}

form .login-container {
    display: flex;
    align-items: flex-end;
}

form .log-in-p {
    margin: 0;
    margin-top: 1.3em;
    color: #ffffff;
}

form .login-container a {
    color: #418adc;
    margin-left: 0.6em;
}

form .login-container a:hover {
    color: #6dacf8;
}

form button {
    width: 60%;
    border-radius: 7px;
    padding: 0.7em 0;
    font-size: 1.3em;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #08376b;
    font-weight: 600;
    margin-top: 1em;
}

form button:hover {
    cursor: pointer;
    background-color: #0f4e94;
}

form ul.errorlist {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 0.3em;
}

form ul.errorlist li {
    list-style: none;
    color: #d70000;
    margin: 0;
    padding: 0;
    font-size: 0.85em;
}
