@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}




header {
    display: flex;
    padding: 0.1% 10%;
    border-bottom: solid 1px rgb(190, 190, 190);
}

header .img-logo {
    width: 10%;
    display: flex;
    height: 100%;
}

header .img-logo img {
    width: 100%
}

header section.search-bar-section {
    display: flex;
    align-items: center;
    width: 30%;
}

header section.search-bar-section input {
    width: 100%;
    height: 60%;
    border: solid 1px rgb(156, 156, 156);
    border-radius: 10px;
    padding: 1em;
    font-family: inherit;
    font-size: 1.1em;
    margin-left: 7%;
}

header ul.last-links {
    display: flex;
    padding: 0;
    margin-left: auto;
    width: 11%;
    justify-content: space-between;
    align-items: center;
}

header ul.last-links li {
    list-style: none;
}

header ul.last-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
}

header ul.last-links li:nth-child(2) a {
    background-color: #08376b;
    padding: 0.7em;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}





.login-box {
    display: flex;
    justify-content: center;
}

form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
    border: solid 1px rgb(214, 213, 213);
    border-radius: 4px;
    padding: 5em 7em;
}

form h1 {
    color: #08376b;
    font-size: 2.5em;
    margin: 0;
}

form > p {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    margin-top: 1em;
}

form p input {
    padding: 0.6em 0.8em;
    border: solid 1px rgb(156, 156, 156);
    border-radius: 4px;
    font-size: 1em;
}

form .login-container {
    display: flex;
    align-items: flex-end;
}

form .log-in-p {
    margin: 0;
    margin-top: 1.3em;
}

form .login-container a {
    color: #2968af;
    margin-left: 0.6em;
}

form .login-container a:hover {
    color: #5a8eca;
}

form button {
    width: 60%;
    border-radius: 7px;
    padding: 0.7em 0;
    font-size: 1.3em;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #08376b;
    font-weight: 600;
    margin-top: 1em;
}

form button:hover {
    cursor: pointer;
    background-color: #0f4e94;
}

form ul.errorlist {
    margin: 0;
    padding: 0;
    width: 60%;
    margin-top: 0.3em;
}

form ul.errorlist li {
    list-style: none;
    color: #d70000;
    margin: 0;
    padding: 0;
    font-size: 0.85em;
}







footer {
    background-color: #212121;
    padding: 4% 24%;
    display: flex;
    flex-direction: column;
}

footer .links-section {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

footer .links-section div {
    display: flex;
    flex-direction: column;
}

footer .links-section div h6 {
    font-size: 1em;
    margin: 0;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8em;
}

footer .links-section div a {
    color: #c5c4c4;
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 1em;
}

footer .links-section div a:hover {
    color: rgb(255, 255, 255);
}

footer .follow-us {
    margin-top: 3em;
}
footer .follow-us h6 {
    font-size: 1em;
    margin: 0;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8em;
}

footer .follow-us .socials {
    display: flex;
    width: 11%;
    justify-content: space-between;
}

footer .follow-us .socials a {
    width: 28%;
}

footer .follow-us .socials a img {
    width: 100%;
}