<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to VolunteerAct!</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            font-family: 'Trebuchet MS', sans-serif;
        }

        .text-box .regards p {
            margin: 0;
        }

        span {
            color: rgb(0, 55, 255);
            font-weight: 600;
        }

        span.black {
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
    <p>Hey, <span class="black">{{ first_name }}</span>!</p>

    <p>My name is Raya Petkova, and I am the founder of <span>VolunteerAct</span>.</p>

    <p>I'm thrilled to have you on board as part of a community that is passionate about giving back. Whether you're interested in caring for the environment, mentoring someone, or helping out in animal shelters, there’s a place for you here.</p>

    <p><span>Thank you</span> for joining us in creating a better world!. We hope you enjoy your time with us and we are excited for you to see what VolunteerAct has to offer!</p>

    <p>Happy exploring!</p>

    <br>

    <div class="regards">
        <p>Best regards,</p>
        <p><span class="black">Raya Petkova</span></p>
    </div>
</body>
</html>